{{#article-list}}
	<div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center heading">
	    	{{#if mainTitle}}
	    		<h3>{{mainTitle}}</h3>
	    	{{/if}}
	    	
	    	<h4>{{heading}}</h4>
	    	
	    	{{#if subheading}}
	    		<p><a href="#">{{subheading}}</a></p>
	    	{{/if}}
	    </div>
	</div>

	{{#each articles as |article|}}
		{{> article-list-item this}}
	{{/each}}

{{/article-list}}